<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Globe with Asteroids</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://unpkg.com/earthjs"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <h1>THIS IS A WEBSITE</h1>
    <div id="globe-container"></div>
    <p>other shit</p>
</body>
</html>
